@font-face {
  font-family: PressStart;
  src: url(./fonts/PressStart.ttf);
}

img {
  -webkit-user-drag: none;
}

body {
  /* background-color: #008081ff; */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(48, 43, 79);
  user-select: none;
  background-image: url("./images/general/BixBG.png");
}

.panel {
  box-sizing: border-box;
  border: solid transparent;
  border-image: url("./images/system/PanelBG.png") 13 fill stretch;
}

/* Meet The Dev CSS */
.mtd-img {
  margin-top: 5%;
  width: 80%;
  position: relative;
  user-select: none;

  border: 2px dotted rgb(41, 21, 68);
}

.mtd-span {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.mtd-p {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  width: 100%;
  margin-top: 5px;
  text-align: center;
}

.Desktop {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
